body {
  background-color: black;
  color: white;
}

table, th, td {
  border: 1px solid white;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
  table, th, td {
    border: 1px solid black;
  }
}

td {
  text-align: right;
}